<div class="flex flex-col justify-content w-full text-left mx-96">
    <table class="min-w-full text-left text-lg font-light text-surface dark:text-white bg-white border border-gray-300 my-6 rounded-lg">
        <tbody>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th scope="col" class="px-18 py-4 w-60">Rēķina atsauce</th>
                <td scope="col" class="px-18 py-4">{{order.ref}}</td>
            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Rēķina nosaukums</th>
                <td class="px-18 py-4">{{order.label}}</td>
            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="whitespace-nowrap px-18 py-4">Materiālu rēķins</th>
                <td class="px-18 py-4">
                    <mat-form-field class="flex-auto">
                        <input
                        matInput
                        [placeholder]="'Rēķina nosaukums'"
                        [(ngModel)]="bill.label"
                        name="bill_label"
                        disabled>
                    </mat-form-field>
                </td>
            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Tips</th>
                <td class="px-18 py-4">
                    <mat-form-field class="w-80">
                        <mat-select [(ngModel)]="order.mrptype" name="bomtype">
                            <mat-option [value]="0">Ražošana</mat-option>
                            <mat-option [value]="1">Demontāža</mat-option>
                          </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Produkts</th>
                <td class="px-18 py-4">
                    {{product.label}}
                </td>
            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Daudzums, ko nepieciešams saražot</th>
                <td class="px-18 py-4">
                    <mat-form-field class="w-80">
                        <input
                            matInput
                            type="number"
                            [placeholder]="'5'"
                            [(ngModel)]="order.qty"
                            name="qty"
                            disabled>
                    </mat-form-field>
                </td>
            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Projekts</th>
                <td class="px-18 py-4">
                    <mat-form-field class="w-80">
                        <input
                            matInput
                            [placeholder]="'Rēķina nosaukums'"
                            [(ngModel)]="project.title"
                            name="title"
                            disabled>
                    </mat-form-field>
                </td>
            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Sākums</th>
                <td class="px-18 py-4">
                    <input matInput type="datetime-local" disabled placeholder="Sākuma datums" [(ngModel)]="dateStart" name="dateStart">
                </td>
            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Beigas</th>
                <td class="px-18 py-4">
                    <input matInput type="datetime-local" disabled placeholder="Beigu datums" [(ngModel)]="dateEnd" name="dateEnd">
                </td>
            </tr>
        </tbody>
    </table>
          
    <div class="flex items-center justify-end border-t -mx-8 px-8 py-5">
        <button
            class="px-6 ml-3"
            mat-flat-button
            [color]="'primary'"
            (click)="update()">
            Rediģēt
        </button>
    </div>
</div>
