<div class="flex flex-col justify-content w-full text-left mx-96">
    <table
        class="min-w-full text-left text-lg font-light text-surface dark:text-white bg-white border border-gray-300 my-6 rounded-lg">
            <tbody>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <th scope="col" class="px-18 py-4 w-60">Atsauce</th>
                <td scope="col" class="px-18 py-4">{{project.ref}}</td>
              </tr>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Nosaukums</th>
                <td class="px-18 py-4">{{project.title}}</td>
              </tr>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="whitespace-nowrap px-18 py-4">Apraksts</th>
                <td class="px-18 py-4" [innerHTML]="project.description"></td>
              </tr>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Sākums</th>
                <td class="px-18 py-4">
                    <input matInput type="date" placeholder="Sākuma datums" [(ngModel)]="dateStart" name="dateStart" disabled="disabled">
                </td>
              </tr>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Beigas</th>
                <td class="px-18 py-4">
                    <input matInput type="date" placeholder="Beigu datums" [(ngModel)]="dateEnd" name="dateEnd" disabled="disabled">
                </td>
              </tr>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <th class="px-18 py-4">Budžets (eiro)</th>
                <td class="px-18 py-4">
                    {{project.budget_amount?.slice(0, -9)}} 
                </td>
              </tr>
            </tbody>
          </table>
          
          <div class="flex items-center justify-end border-t -mx-8 px-8 py-5">
            <button
                class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'"
                (click)="update()">
                Rediģēt
            </button>
        </div>
    </div>
