<div class="flex flex-col justify-content w-full text-left mx-12">
    <div class="flex flex-row justify-between mt-4">
        <button mat-raised-button color="accent" (click)="createNewProduct()" class="mr-2">Pievienot produktu!</button>
        <div>
            <b class="pt-3 mr-2">Meklēt pēc nosaukuma:</b>
            <mat-form-field style="width: 200px;">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Ievadiet nosaukumu...">
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="productsList" class="bg-white border border-gray-300 my-6" matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b" mat-sort-header sortActionDescription="Sort by Id"> Id </th>
            <td mat-cell *matCellDef="let product" class="py-2 px-3 border-b"> {{ product.id }} </td>
        </ng-container>
  
        <ng-container matColumnDef="ref">
            <th mat-headerss-cell *matHeaderCellDef class="py-2 px-3 border-b" mat-sort-header sortActionDescription="Sort by ref"> Atsauce </th>
            <td mat-cell *matCellDef="let product" class="py-2 px-3 border-b"> {{ product.ref }} </td>
        </ng-container>
  
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b" mat-sort-header sortActionDescription="Sort by label"> Nosaukums </th>
            <td mat-cell *matCellDef="let product" class="py-2 px-3 border-b"> {{ product.label }} </td>
        </ng-container>
  
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b" mat-sort-header sortActionDescription="Sort by status"> Paredzēts pārdošanai? </th>
            <td mat-cell *matCellDef="let product" class="py-2 px-3 border-b">
                <div *ngIf="product.status == 0; else elseBlock">
                    Nē
                  </div>
                  <ng-template #elseBlock>
                    Jā
                  </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b" mat-sort-header sortActionDescription="Sort by price"> Cena (ar nodokļiem) </th>
            <td mat-cell *matCellDef="let product" class="py-2 px-3 border-b"> {{ product.price.slice(0, -9) }}€ </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b"> Darbības </th>
            <td mat-cell *matCellDef="let product" class="py-2 px-3 border-b">
                <button mat-stroked-button color="primary" class="mx-1 pl-2" (click)="openProductDetails(product.id)"><mat-icon>visibility</mat-icon> Apskatīt</button>
                <button mat-stroked-button color="primary" class="mx-1 pl-2"  (click)="updateProduct(product.id)"><mat-icon>edit</mat-icon> Rediģēt</button>
                <button mat-stroked-button color="warn" class="mx-1" (click)="deleteProduct(product.id)">Dzēst</button>
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['id', 'ref', 'label', 'status', 'price', 'actions']"></tr>
        <tr mat-row *matRowDef="let product; columns: ['id', 'ref', 'label', 'status', 'price', 'actions'];" class="hover:bg-gray-100"></tr>
    </table>
    <mat-paginator [pageSize]="8" [pageSizeOptions]="[8, 16, 24]" showFirstLastButtons></mat-paginator>
</div>
