<div class="flex flex-col justify-content w-full text-left mx-12">

    <div class="flex flex-row justify-between mt-4">
        <button mat-raised-button color="accent" class="mr-2" (click)="createNewMemberType()">Pievienot jaunu dalībnieku veidu!</button>
        <div>
            <b class="mr-2">Meklēt pēc nosaukuma:</b>
            <mat-form-field style="width: 200px;">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Ievadiet nosaukumu...">
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="membersTypeList" class="bg-white border border-gray-300 my-6" matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b" mat-sort-header sortActionDescription="Sort by Id"> Id </th>
            <td mat-cell *matCellDef="let memberType" class="py-2 px-3 border-b"> {{ memberType.id }} </td>
        </ng-container>
  
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b" mat-sort-header sortActionDescription="Sort by label"> Nosaukums </th>
            <td mat-cell *matCellDef="let memberType" class="py-2 px-3 border-b"> {{ memberType.label }} </td>
        </ng-container>

        <ng-container matColumnDef="vote">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b" mat-sort-header sortActionDescription="Sort by vote"> Balsošanas tiesības </th>
            <td mat-cell *matCellDef="let memberType" class="py-2 px-3 border-b"> {{ memberType.vote === '1' ? 'Jā' : 'Nē' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="py-2 px-3 border-b"> Darbības </th>
            <td mat-cell *matCellDef="let memberType" class="py-2 px-3 border-b">
                <button mat-stroked-button color="primary" class="mr-1 pl-2" (click)="openMemberTypeDetails(memberType.id)"> <mat-icon>visibility</mat-icon> Apskatīt</button>
                <button mat-stroked-button color="primary" class="mr-1 pl-2" (click)="updateMemberType(memberType.id)"> <mat-icon>edit</mat-icon> Rediģēt</button>
                <button mat-stroked-button color="warn" class="mr-1" (click)="deleteMemberType(memberType.id)">Dzēst</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'label', 'vote', 'actions']"></tr>
        <tr mat-row *matRowDef="let member; columns: ['id', 'label', 'vote', 'actions'];" class="hover:bg-gray-100"></tr>
    </table>

    <mat-paginator [pageSize]="8" [pageSizeOptions]="[8, 16, 24]" showFirstLastButtons></mat-paginator>

</div>
