<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <div class="flex">
                <img
                class="w-20 inline mr-5"
                src="assets/images/logo/dolibarr-logo.svg"
                alt="Logo image">
                <img
                class="w-20 inline"
                src="assets/images/logo/midis-logo.svg"
                alt="Logo image">
            </div>
            <h1>Laipni lūgti mūsu lietotnē</h1>
            <p>
                Tā ir Angular lietotne, kurā tiek integrēta Dollibar ERP un CRM sistēma. Izmantojot šo lietotni, jūs varat izmantot daudzas Dollibar sistēmā esošās iespējas.
            </p>
            <p>
                Lietotne sastāvēs no vairākiem moduļiem, tādiem kā - "produkti", "projekti", "trešās puses", "dalībnieki", "pasūtījumi", kā arī citiem moduļiem, kas ir paredzēti mazu un vidēju uzņēmumu darbības pārvaldīšanai.
            </p>
        </div>
    </div>
</div>