<div class="grid grid-cols-4 gap-4 w-full mx-12 my-6 h-140">
        <div class="border-solid border-2 border-zinc-400 rounded-md bg-blue-50 h-64 module">
            <div class="flex flex-col h-full items-center">
                <div class="head flex flex-col items-center mt-12">
                    <mat-icon class="mb-4 text-4xl">inventory_2</mat-icon>
                    <a href="http://localhost:4200/products">
                        <h3 class="text-2xl font-bold dark:text-white mb-4">
                            Produkti
                        </h3>
                    </a>
                </div>
                <a href="http://localhost:4200/products/create">
                    <button mat-stroked-button color="basic" class="mb-2">
                        Pievienot jaunu produktu!
                    </button>
                </a>
            </div>
        </div>
        <div class="border-solid border-2 border-zinc-400 rounded-md bg-blue-50 h-64 module">
            <div class="flex flex-col h-full items-center">
                <div class="head flex flex-col items-center mt-12">
                    <mat-icon class="mb-4 text-4xl">signal_cellular_alt</mat-icon>
                    <a href="http://localhost:4200/projects">
                        <h3 class="text-2xl font-bold dark:text-white mb-4">
                            Projekti
                        </h3>
                    </a>
                </div>
                <a href="http://localhost:4200/projects/create">
                    <button mat-stroked-button color="basic" class="mb-2">
                        Pievienot jaunu projektu!
                    </button>
                </a>
            </div>
        </div>
        <div class="border-solid border-2 border-zinc-400 rounded-md bg-blue-50 h-64 module">
            <div class="flex flex-col h-full items-center">
                <div class="head flex flex-col items-center mt-12">
                    <mat-icon class="mb-4 text-4xl">group</mat-icon>
                    <a href="http://localhost:4200/thirdparties">
                        <h3 class="text-2xl font-bold dark:text-white mb-4">
                            Trešās puses
                        </h3>
                    </a>
                </div>
                <a href="http://localhost:4200/thirdparties/create">
                    <button mat-stroked-button color="basic" class="mb-2">
                        Pievienot jaunu trešo pusi
                    </button>
                </a>
                <a href="http://localhost:4200/thirdparties/contacts/create">
                    <button mat-stroked-button color="basic">
                        Pievienot jaunu kontaktu
                    </button>
                </a>
            </div>
        </div>
        <div class="border-solid border-2 border-zinc-400 rounded-md bg-blue-50 h-64 module">
            <div class="flex flex-col h-full items-center">
                <div class="head flex flex-col items-center mt-12">
                    <mat-icon class="mb-4 text-4xl">group</mat-icon>
                    <a href="http://localhost:4200/members">
                        <h3 class="text-2xl font-bold dark:text-white mb-4">
                            Dalībnieki
                        </h3>
                    </a>
                </div>
                <a href="http://localhost:4200/members/create">
                    <button mat-stroked-button color="basic" class="mb-2">
                        Pievienot jaunu dalībnieku
                    </button>
                </a>
                <a href="http://localhost:4200/members/types/create">
                    <button mat-stroked-button color="basic">
                        Pievienot jaunu dalībnieka veidu
                    </button>
                </a>
            </div>
        </div>
        <div class="border-solid border-2 border-zinc-400 rounded-md bg-blue-50 h-64 module">
            <div class="flex flex-col h-full items-center">
                <div class="head flex flex-col items-center mt-12">
                    <mat-icon class="mb-4 text-4xl">reorder</mat-icon>
                    <a href="http://localhost:4200/orders/sales">
                        <h3 class="text-2xl font-bold dark:text-white mb-4">
                            Pasūtījumi
                        </h3>
                    </a>
                </div>
                <a href="http://localhost:4200/orders/sales/create">
                    <button mat-stroked-button color="basic">
                        Pievienot jaunu pasūtījumu
                    </button>
                </a>
            </div>
        </div>
        <div class="border-solid border-2 border-zinc-400 rounded-md bg-blue-50 h-64 module">
            <div class="flex flex-col h-full items-center">
                <div class="head flex flex-col items-center mt-12">
                    <mat-icon class="mb-4 text-4xl">inventory</mat-icon>
                    <a href="http://localhost:4200/mrp/bills">
                        <h3 class="text-2xl font-bold dark:text-white mb-4">MRP</h3>
                    </a>
                </div>
                <a href="http://localhost:4200/mrp/bills/create">
                    <button mat-stroked-button color="basic" class="mb-2">
                        Pievienot jaunu materiālu rēķinu!
                    </button>
                </a>
                <a href="http://localhost:4200/mrp/orders/create">
                    <button mat-stroked-button color="basic">
                        Pievienot jaunu ražošanas pasūtījumu!
                    </button>
                </a>
            </div>
        </div>
        <div class="border-solid border-2 border-zinc-400 rounded-md bg-blue-50 h-64 module">
            <div class="flex flex-col h-full items-center">
                <div class="head flex flex-col items-center mt-12">
                    <mat-icon class="mb-4 text-4xl">description</mat-icon>
                    <a href="http://localhost:4200/tickets">
                        <h3 class="text-2xl font-bold dark:text-white mb-4">
                            Pieprasījumi
                        </h3>
                    </a>
                </div>
                <a href="http://localhost:4200/tickets/create">
                    <button mat-stroked-button color="basic">
                        Pievienot jaunu pieprasījumu!
                    </button>
                </a>
            </div>
        </div>
</div>
