<div class="flex flex-col justify-content w-full text-left mx-12">
    <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
        <p class="text-lg font-medium">Pamatinformācija par rēķinu</p>
        <p class="text-secondary mb-8">
            Lūdzu, norādiet pamatinformāciju par rēķinu
        </p>
        <fuse-alert [type]="'warn'" [ngClass]="{'hidden': !errorAlert}">
            <span fuseAlertTitle>Paziņojums par kļūdu</span>
            Pārbaudītiet visus ievadītos datus un pārliecinieties, ka obligātie lauki ir aizpildīti!
        </fuse-alert><br/>
        <p class="font-medium ml-1 mb-1">Rēķina atsauce</p>
        <div class="flex">
            <mat-form-field class="flex-auto">
                <input
                    matInput
                    [placeholder]="'Rēķina atsauce'"
                    [(ngModel)]="bill.ref"
                    name="ref"
                    required>
            </mat-form-field>
        </div>
        <p class="font-medium ml-1 mb-1">Rēķina virsraksts</p>
        <div class="flex">
            <mat-form-field class="flex-auto">
                <input
                    matInput
                    [placeholder]="'Rēķina nosaukums'"
                    [(ngModel)]="bill.label"
                    name="label"
                    required>
            </mat-form-field>
        </div>
        <p class="font-medium ml-1 mb-1">Tips</p>
        <div class="flex">
            <mat-form-field class="w-80">
                <mat-select [(ngModel)]="bill.bomtype" name="bomtype">
                    <mat-option value="0">Ražošana</mat-option>
                    <mat-option value="1">Demontāža</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <p class="font-medium ml-1 mb-1">Produkts</p>
        <mat-form-field class="w-80">
         <mat-select [(ngModel)]="bill.fk_product" name="type">
           @for (product of products; track product) {
             <mat-option [value]="product.id">{{product.label}}</mat-option>
           }
         </mat-select>
       </mat-form-field>
        <p class="font-medium ml-1 mb-1">Daudzums</p>
        <div class="flex w-80">
            <mat-form-field class="flex-auto">
                <input
                    matInput
                    type="number"
                    [placeholder]="'5'"
                    [(ngModel)]="bill.qty"
                    name="qty"
                    required>
            </mat-form-field>
        </div>
        <p class="font-medium ml-1 mb-1">Apraksts</p>
        <div class="flex">
            <editor class="w-full" apiKey="7mw30hi1hg2t8ifh31b587e0cvsfjrwannjoegg2hdg148f1"
                [init]="{
                    height: 300,
                    base_url: '/tinymce',
                    suffix: '.min',
                    plugins: 'lists link image table wordcount'
                }"
                [(ngModel)]="bill.description"
                name="description"
            ></editor>
        </div>
        <p class="font-medium ml-1 mb-1 mt-8">Paredzamais ilgums (stundās un minūtēs) </p>
        <div class="flex flex-row" style="width: 360px;">
            <mat-form-field class="flex-auto" class="mr-3">
                <input matInput type="number" placeholder="3" [(ngModel)]="hours" name="hours" min="0"/>
            </mat-form-field>
            <mat-form-field class="flex-auto" class="ml-3">
                <input matInput type="number" placeholder="30" [(ngModel)]="minutes" name="minutes" min="0" max="60"/>
            </mat-form-field>
        </div>
        <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
            <button mat-button
            (click)="cancel()">
                Atcelt
            </button>
            <button
                class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'"
                (click)="save()">
                Saglabāt
            </button>
        </div>
    </form>
</div>
